* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex; //Ativa as caixas flexíveis
    justify-content: flex-start; //É o padrão. Os itens são postos no começo do eixo principal.
    justify-content: flex-end; //Os itens são postos no final do eixo principal.
    justify-content: center; //Os itens são postos no meio do eixo principal.
    justify-content: space-around; //O primeiro espaço vazio e o ultimo são iguais.
    //justify-content: space-evenly; //Espaçamento igual entre todos os itens.
    //justify-content: space-between; //Primeiro e ultimo item ficam encostados na parede.
    height: 90px;
    align-items: flex-start; //Padrão. Os itens são postos no começo do eixo Y.
    align-items: flex-end; //Padrão. Os itens são postos no final do eixo Y.
    align-items: center; //Padrão. Os itens são postos no centro do eixo Y.

}

div {
    display: flex;
    justify-content: space-between;
    width: 16%;
}

h1 {
    font-size: 2.1rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #4B5563;
}

.btnVerdeHeader {
    background-color: #21C05C;
    color: white;
    font-size: 1rem;
    padding: 5px;
    border-radius: 3px;
}

.primeiraSection {
    display: flex;
    justify-content: space-between;
    height: 55vh;
    padding: 0 5% 0 5%;

    section {
        width: 50%;
        height: 48vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h2 {
        font-size: 3.75rem;
    }

    p {
        font-size: 1.2rem;
    }

    img {
        width: 29%;
    }
}

.boxBtn {
    width: 40vw;
    height: 7vh;

    button {
        border-radius: 8px;
        width: 43%;
    }

    .btnVerde {
        border: #16A34A;
        background-color: #16A34A;
        color: #fff;
        font-size: 1.4rem;
    }

    .presente {
        width: 8%;
        border: solid;
    }

    .btnBranco {
        margin-left: 10%;
        border: solid 0.8px #2563EB;
        color: #2563EB;
        font-size: 1.4rem;
    }
}



.painel {
    display: flex;
    height: 25vh;
    justify-content: space-around;
    align-items: center;
    background-color: #f3f5f8;

    div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 15vh;

    H2 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #16A34A;
    }

    P {
        font-size: 1rem;
        font-weight: 400;
    }
}

}




.comoFunciona {
    height: 30vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    article {
        width: 95%;
        height: 50%;

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }

        h3 {
            height: 65%;
            display: flex;
            align-items: flex-end;
            font-weight: 400;
            font-size: 1.6;
        }
    }
}

.perfil {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: space-around;

    p {
        height: 25%;
        width: 85%;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
    }

    ul {
        width: 80%;
        font-size: 1rem;
        font-weight: 700;
    }
}

.doadores {
    background-color: #f3f5f8;
    border-radius: 12px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    h2 {
        width: 85%;
        color: #16A34A;
        font-size: 2.5rem;
        font-weight: 400;
    }
}

.adquirentes {
    background-color: #f3f5f8;
    border-radius: 12px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    h2 {
        width: 85%;
        color: #2563EB;
        font-size: 2.5rem;
        font-weight: 400;
    }

}

.produtosDisponiveis {
    background-color: #f3f5f8;
    justify-content: space-around;
    align-items: center;
    display: flex;



    article {

        border: solid 1px #16A34A;
        border-radius: 8px;
        background-color: #fff;
        width: 20%;
        height: 60vh;
        display: flex;
        //flex-direction: row; //Padrão. Os itens são organizados em forma de linha da esquerda para a direita.
        //flex-direction: row-reverse; //Os itens são organizados em forma de linha (fileira) da direita para a esquerda.
        flex-direction: column; //Os itens são organizados em coluna, de cima para baixo.
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 100%;
        height: 28vh;
    }

    button {
        width: 50%;
        height: 5vh;
        cursor: pointer;
        margin-bottom: 2rem;
        background-color: #16a34a;
        color: #fff;
        font-size: 1.15rem;
        font-weight: bold;
        border-radius: 8px;
    }
}

//Responsivo

//Smartphone max: 500px

@media(max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        height: 20vh;
    }

    .caixaLogo {
        width: 65%;
    }

    nav {
        width: 90%;

        a {
            font-size: 1rem;
        }

        .btnVerdeHeader {
            font-size: 1.3rem;
        }
    }

    //Section Produtos disponiveis

    .primeiraSection{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 90vh;
        
        section{
            width: 100%;
            height: 30vh;
        }

        h2{
            font-size: 2.3rem;
        }

        p{
            font-size: 0.8rem;
        }

        .boxBtn{
            width: 100%;
        }

        img{
            width: 100%;
        }
    }

    .produtosDisponiveis {
        flex-direction: column;


        article {
            width: 55%;
            text-align: center;
            margin-bottom: 10%;

            button {
                font-size: 0.8rem;
                font-weight: 400;
                width: 50%;
            }
        }
    }

    .painel{

        div{
            width: 25%;
        }

        h2{
            font-size: 2rem;
        }
    }

    .comoFunciona{
        width: 100%;
        display: flex;
        text-align: center;
        
        h3{
            width: 95%;
            display: flex;
        }
    }

    .perfil{
        display: flex;
        flex-direction: column;
        height:80vh;
    }
}